<section class="about-app-section container-glob" id="about-app">
  <div>
    <div class="title-wrap-about">
      <img
        class="wooden-ournament-img-about"
        src="/img/wooden-ornament/wooden-ournament.png"
        alt="wooden ournament"
        srcset="
          /img/wooden-ornament/wooden-ournament.png    1x,
          /img/wooden-ornament/wooden-ournament@2x.png 2x
        "
        width="234"
        height="50"
      />
      <h2 class="about-app-title">About the App</h2>
    </div>
  </div>
  <div class="content-wrap-about">
    <video
      class="rounded-video"
      src="https://play-games.googleusercontent.com/vp/mp4/1280x720/k4m2czNhdj8.mp4"
      controls
      autoplay
      loop
      width="100%"
    ></video>

    <div class="text-about-wrap">
      <p class="text-about">
        <span class="span-text">Tower Masters: Strategy War</span>
      </p>
      <p class="text-about">
        is a thrilling tower defense and real-time strategy game where players
        can build, upgrade, and defend their own fortress against hordes of
        enemies.
      </p>
      <p class="text-about">
        With a mix of strategic tower placement and dynamic real-time combat,
        you must balance offense and defense to outsmart your opponents. Summon
        powerful heroes, unleash their unique abilities, and take on rivals in
        intense PvP battles.
      </p>
      <p class="text-about">
        Whether you're looking for casual play or a deeper strategic experience,
        Tower Masters offers a perfect blend of both.
      </p>
    </div>
  </div>
</section>
