<section class="advantages-section container-glob" id="advantages">
  <div class="advantages-wrap">
    <div class="title-wrap">
      <img
        class="wooden-ournament-img"
        src="/img/advantages/wooden-ournament.png"
        alt="wooden ournament"
        srcset="
          /img/advantages/wooden-ournament.png    1x,
          /img/advantages/wooden-ournament@2x.png 2x
        "
      />
      <h2 class="advantages-title">Advantages</h2>
    </div>
  </div>
  <ol class="advantages-list">
    <li class="advantages-item">
        <img
          class="advantages-icon"
          src="../public/img/advantages-icon/trunk.png"
          alt="trunk"
          srcset="
            ../public/img/advantages-icon/trunk.png    1x,
            ../public/img/advantages-icon/trunk@2x.png 2x
          "
        />
        <div class="text-wrap">
          <span class="span-number">1.</span>
          <p class="advantages-text">
            Experience epic battles in a fantasy world where strategic tower defense
            meets real-time combat mechanics.
          </p>
        </div>
    </li>
    <li class="advantages-item">
        <img
          class="advantages-icon"
          src="../public/img/advantages-icon/bomb.png"
          alt="trunk"
          srcset="
            ../public/img/advantages-icon/bomb.png    1x,
            ../public/img/advantages-icon/bomb@2x.png 2x
          "
        />
        <div class="text-wrap">
          <span class="span-number">2.</span>
          <p class="advantages-text">
            Build and upgrade your own fortress with powerful towers, defending
            against waves of enemies while planning your offensive strategies.
          </p>
        </div>
    </li>
    <li class="advantages-item">
        <img
          class="advantages-icon"
          src="../public/img/advantages-icon/red-hat.png"
          alt="trunk"
          srcset="
            ../public/img/advantages-icon/red-hat.png    1x,
            ../public/img/advantages-icon/red-hat@2x.png 2x
          "
        />
        <div class="text-wrap">
          <span class="span-number">3.</span>
          <p class="advantages-text">
            Summon legendary heroes and unlock unique abilities to strengthen your
            defenses and overpower your opponents in intense PvP battles.
          </p>
        </div>
    </li>
    <li class="advantages-item">
        <img
          class="advantages-icon"
          src="../public/img/advantages-icon/pig.png"
          alt="trunk"
          srcset="
            ../public/img/advantages-icon/pig.png    1x,
            ../public/img/advantages-icon/pig@2x.png 2x
          "
        />
        <div class="text-wrap">
          <span class="span-number">4.</span>
          <p class="advantages-text">
            Enjoy frequent updates with new heroes, challenges, and special events
            that keep the gameplay fresh and exciting.
          </p>
        </div>
    </li>
  </ol>
</section>
