<section class="download-section container-glob">
  <div class="download-wrap">
    <div class="download-title-wrap">
      <img
        class="download-wooden-img"
        src="../public/img/wooden-ornament/wooden-ournament.png"
        alt="wooden ournament"
        srcset="
          ../public/img/wooden-ornament/wooden-ournament.png    1x,
          ../public/img/wooden-ornament/wooden-ournament@2x.png 2x
        "
      />
      <h2 class="download-title">
        Ready to become the master of your own fortress?
      </h2>
    </div>
    <div class="pc-container">
      <ul class="download-list">
        <li class="download-item">
          <p class="dowload-text">
            Download Tower Masters: Strategy War now and dive into a world of epic
            strategy and intense battles.
          </p>
        </li>
        <li class="download-item">
          <p class="dowload-text">
            Build, defend, and conquer in this exciting tower defense game where
            every decision counts.
          </p>
        </li>
        <li class="download-item">
          <p class="dowload-text">
            Begin your journey to become the ultimate tower master today!
          </p>
        </li>
      </ul>
      <div class="download-btn-field">
        <img class="finger-icon" src="../public/img/finger/finger.png" alt="" />
        <a
          class="google-play-link"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.playdogsoft.towermasters"
        >
          <object
            type="image/svg+xml"
            data="public/svg/button.svg"
            width="178"
            height="50"
          ></object>
        </a>
      </div>
    </div>
  </div>
</section>
