<section class="gallery_section" id="gallery">
  <img class="wood_img_desk" src=".img/reviews/w00dDesk.png" alt="Wood desk with text">
  <img class="wood_img" src="/img/reviews/w00d.png" alt="Wood desk with text">
  <p class="gallery_paragraph">Gallery</p>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper_img" src="/img/gallery/swiper1mob.png" alt="Image of the game">
        <img class="swiper_img_desk" src="/img/gallery/swiper1desk.png" alt="Image of the game">
      </div>
      <div class="swiper-slide">
        <img class="swiper_img" src="/img/gallery/swiper2mob.png" alt="Image of the game">
        <img class="swiper_img_desk" src="/img/gallery/swiper2desk.png" alt="Image of the game">
      </div>
      <div class="swiper-slide">
        <img class="swiper_img" src="/img/gallery/swiper3mob.png" alt="Image of the game">
        <img class="swiper_img_desk" src="/img/gallery/swiper3desk.png" alt="Image of the game">
      </div>
      <div class="swiper-slide">
        <img class="swiper_img" src="/img/gallery/swiper4mob.png" alt="Image of the game">
        <img class="swiper_img_desk" src="/img/gallery/swiper4desk.png" alt="Image of the game">
      </div>
      <div class="swiper-slide">
        <img class="swiper_img" src="/img/gallery/swiper5mob.png" alt="Image of the game">
        <img class="swiper_img_desk" src="/img/gallery/swiper5desk.png" alt="Image of the game">
      </div>
      <div class="swiper-pagination"></div>
    </div>
</section>