<header class="header-section container-glob">
  <div class="header-wrap">
    <a href="/">
      <img
        class="header-logo"
        src="/img/logo/logo-masters.png"
        alt="Logo"
        srcset="
          /img/logo/logo-masters.png    1x,
          /img/logo/logo-masters@2x.png 2x
        "
        alt="Logo"
      />
    </a>
      <ul class="hiden-menu">
      <li class="menu-hiden-item"><a class="item-link" href="./">Home</a></li>
      <li class="menu-hiden-item adventages-item"><a class="item-link" href="#advantages">Advantages</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#reviews">Reviews</a></li>
      <li class="menu-hiden-item about-app-item"><a class="item-link" href="#about-app">About the App</a></li>
      <li class="menu-hiden-item"><a class="item-link" href="#gallery">Gallery</a></li>
    </ul>
    <button class="header-menu-open-btn">
      <svg class="menu-open-button-svg" width="40px" height="40px">
        <use href="/svg/sprite.svg#burger">
      </svg>
    </button>
  </div>
</header>

<div class="backdrop">
  <div class="backdrop-wrap container-glob ">
    <ul class="header-menu-list">
      <li class="menu-item"><a class="item-link-bd" href="/">Home</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#advantages">Advantages</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#reviews">Reviews</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#about-app">About the App</a></li>
      <li class="menu-item"><a class="item-link-bd" href="#gallery">Gallery</a></li>
    </ul>
    <button class="close-btn">
      <svg class="menu-close-button-svg" width="30" height="30">
        <use href="/svg/sprite.svg#icon-close">
      </svg>
    </button>
  </div>
</div>



