<section class="reviews_section" id="reviews">
  <img class="wood_img" src="../img/reviews/w00d.png" alt="Wood desk with text">
  <img class="wood_img_desk" src="../img/reviews/w00dDesk.png" alt="Wood desk with text">
  <p class="reviews_paragraph">Reviews</p>
  <div class="list_of_reviews_wrapper">
    <div class="reviews_item">
      <p class="name">BattleMaster:</p>
      <p class="description">"The combination of tower defense and strategy is fantastic! Each battle is a new
        challenge."</p>
    </div>
    <div class="reviews_item">
      <p class="name">FortressWarrior:</p>
      <p class="description"> "Love upgrading my fortress and outsmarting enemies. The hero abilities add a lot of depth
        to the gameplay."</p>
    </div>
    <div class="reviews_item">
      <p class="name">HeroicDefender:</p>
      <p class="description">"The graphics are amazing, and the game is perfectly balanced between fun and strategy."
      </p>
    </div>
    <div class="reviews_item">
      <p class="name">WarGuardian:</p>
      <p class="description">"This game keeps me coming back with new content and events. It&#39;s never boring!"</p>
    </div>
    <div class="reviews_item">
      <p class="name">TowerStrategist:</p>
      <p class="description">"I&#39;m hooked! The PvP mode is thrilling, and it&#39;s great to see how other players
        defend and attack."</p>
    </div>
    <div class="reviews_item">
      <p class="name">VictoryTactician:</p>
      <p class="description">"You have to think fast, but also plan ahead. The game really tests your strategic skills."
      </p>
    </div>
  </div>
</section>