.about-app-section {
  background-image: url('/img/background-about-app/bg-about-app.png');
  background-size: cover;
  background-position: center;
  // background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @include media(desktop) {
    background-size: contain;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .about-app-section {
    background-image: url('/img/background-about-app/bg-about-app@2x.png');
  }
}

.title-wrap-about {
  position: relative;
  padding-top: 5px;
}

.wooden-ournament-img-about {

  @include media(desktop) {
    width: 100%;
  }
}

.about-app-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 900;
  line-height: 1.35;
  color: #000000;
  white-space: nowrap;

  @include media(desktop) {
    font-size: 50px;
    line-height: 1.4;
  }
}

.content-wrap-about {
  padding-top: 24px;

  @include media(desktop) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.rounded-video {
  border-radius: 16px;
  border: 6px solid #f2b282;

  @include media(desktop) {
    order: 2;
    border: 9px solid #f2b282;
    max-width: 548px;
    min-height: 252px;
  }
}

.text-about-wrap {
  padding-top: 24px;
  padding-bottom: 40px;

  @include media(desktop) {
    order: 1;
    max-width: 452px;
    padding-right: 2px;
  }
}


.text-about-span {
  display: block;
  margin-bottom: 10px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.text-about {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.35;
  text-align: left;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.span-text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.35;

  @include media(desktop) {
    font-size: 24px;
  }
}
