.footer_section {
  max-width: $mobile;
  margin: 0 auto;
  background-image: url('../img/footer/bgfooterMob.png');
  background-size: contain;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    background-image: url('../img/footer/bgfooterDesk.png');
  }
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 51px;
    justify-content: flex-end;
  }
}

.all_rights_footer {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 16px;
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 20px;
    margin-top: 57px;
    margin-bottom: 70px;
  }
}

.footer_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 16px;
  }
}

.footer_link:hover {
  color: var(--color-5--napis--footer-);
}

.footer_pages {
  display: flex;
  flex-direction: column;
  padding-bottom: 11px;
  gap: 10px;
  @media screen and (min-width: 1200px) {
    gap: 26px;
    margin-right: 125px;
  }
}
